.App {
  text-align: center;
  background-color: #282c34;
}

.circle-profile {
  height: 40vh;
  border-radius: 50%;
  
  border-color: white;
  border-style: solid;

  border-width: 15px;
  /* This will create a "faded cresent moon" looking border */
  border-top-width: 0px;
  border-left-width: 0px;
  
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Main {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Section {
  background-color: navy;
  min-height: 100vh;
  min-width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.S2 {
  background-color: purple;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
